# Created by https://www.gitignore.io
*resources.txt
*sample_data/
*write_to_file.py
*local.py

# Static files
*/static/admin/*
*/staticfiles/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

### Django ###
*.log
*.pot
*.pyc
__pycache__/

.env
db.sqlite3

migrations/
