/* --- Global styles --- */
label {
    font-weight: bold;
}
form {
    width: 50%;
    margin: auto;
}
#main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2em;
}
/* --- Global styles --- */


/* --- Member styles --- */
#member-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em;
    justify-content: center;
}

.member {
    margin: 1em;
}
.member:hover {
    transform: translateY(-3px);
}
/* --- Member styles --- */


@media (max-width: 768px) {
/* Screen is 768px or less */    
    .member {
        width: 100%;
    }
}
@media (min-width: 769px) {
    /* Screen is 769px or more */ 
    .member {
        width: 25%;
    }
}
/* --- Global styles --- */






